@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
    margin: 0;
	padding: 0;	
    font-family: Raleway, sans-serif;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    background: linear-gradient(90deg, #C7C5F4, #776BCC);	
}

.card-body {
    transition: transform .2s;
}

.card-body:hover {
    transform: scale(1.1);
}

.btn-light {
    margin-top: 15px;
}

.movie-list {
    width: 100%;
    margin: 1cm auto;
}

.tv-list {
    width: 100%;
    margin: 1cm auto;
}

.card-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: .5px;
    gap: 20px;
    justify-content: center;
}

.card-list-margin {
    margin: 1cm auto;
}

.grid {
    display: grid;
    margin-left: .5px;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 0.75em;
    justify-content: center;

}

.search-area {
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.genre-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    max-height: 220px;
    overflow: scroll;
}

.genre-tag {
    padding: 6px 12px;
    background-color: #eaeaea;
    border-radius: 50px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.genre-tag.active {
    background-color: #e71a87;
    color: white;
  }